.bg_overlay1 {
  position: fixed;
  top: 10px;
  left: 0;
  width: 40%;
  padding-top: 42%;
  background: linear-gradient(-80deg, #56fdfd, #357ca5);
  transform: rotate(180deg);
  filter: blur(50px);
  border-radius: 50%;
  opacity: 0.3;
}
.bg_overlay2 {
  position: fixed;
  transform: scale(1.1);
  bottom: 10px;
  right: 0;
  width: 40%;
  padding-top: 42%;
  background: linear-gradient(-80deg, #56fdfd, #357ca5);
  transform: rotate(180deg);
  filter: blur(50px);
  opacity: 0.3;
}
