.home_body {
  padding: 0 10px;
  height: calc(100vh - 60px);
  overflow: hidden;
  max-width: 1500px;
  margin: auto;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1100px) {
  .home_left {
    display: none;
  }
  .home_body {
    grid-template-columns: 1fr 280px;
  }
}

@media screen and (max-width: 878px) {
  .home_left {
    display: none;
  }
  .home_body {
    grid-template-columns: 1fr;
    padding: 0 7px;
  }
  .home_right {
    display: none;
  }
}
