.home_right {
  background: rgb(255, 255, 255, 0.4);
  border-radius: 10px;
  height: 100%;
  padding: 0 20px 20px;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 2;
  width: 280px;
  flex-shrink: 0;
}

.home_right::-webkit-scrollbar {
  width: 10px;
  position: relative;
}
.home_right::-webkit-scrollbar-thumb {
  background: rgb(207, 206, 206);
  border-radius: 10px;
}
.home_right {
  padding: 10px 20px;
}
.home_right h6 {
  font-size: bold;
  font-size: 14px;
}
.home_right_top_content,
.home_right_middle_content,
.home_right_bottom_content {
  padding: 10px 0;
  margin-bottom: 10px;
}
.home_right_top_content .lists {
  width: 100%;
  box-shadow: 0 3px 0 0 rgb(51, 51, 51, 0.1);
  margin-top: 10px;
  padding: 0;
  min-height: 200px;
  padding-bottom: 10px;
}
.home_right_top_content .lists .item {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 20px 0;
  position: relative;
}
.home_right_top_content .lists .item img {
}
.home_right_top_content .lists .item .poster {
  width: 200px;
  max-width: 200px;
  margin: 10px;
  height: 200px;
  box-shadow: 0 0 3px 0 #44a0d4;
  background: red;
  height: unset;
  border-radius: 10px;
  position: relative;
}

.home_right_middle_content .lists,
.home_right_bottom_content .lists {
  width: 100%;
  box-shadow: 0 3px 0 0 rgb(51, 51, 51, 0.1);
  margin-top: 10px;
  padding: 0;
  min-height: 100px;
  padding-bottom: 10px;
}
.home_right_middle_content i {
  background: linear-gradient(80deg, #309b9b, #44a0d4);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home_right_middle_content .lists .item,
.home_right_bottom_content .lists .item {
  padding: 5px 0;
  margin: 5px 0;
}
.home_right_bottom_content .actions {
  display: flex;
}
.home_right_bottom_content .actions i {
  margin: 5px;
  background: linear-gradient(80deg, #309b9b, #44a0d4);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
